

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(183, 234, 234);
}

.stopwatch{
   display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid;
  border-radius: 50px;
  background-color: aliceblue;
  padding: 30px;

}

.display{
  font-size: 5rem;
  font-family: monospace;
  font-weight:bold ;
  color:rgb(34, 33, 33);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.731);
  margin-bottom: 25px;
}


.controls button{
  font-size: 1.5rem;
  font-weight: bold;
  padding:10px 20px;
  margin: 5px;
  min-width: 125px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: azure;
  transition: background-color 0.5s ease;

}

.start-button{
  background-color: rgb(39, 248, 39);

}

.start-button:hover{
  background-color: rgba(2, 209, 2, 0.676);

}

.stop-button{
  background-color: rgb(248, 21, 21);

}

.stop-button:hover{
  background-color: rgba(253, 2, 2, 0.753);

}

.reset-button{
  background-color: rgb(76, 241, 241);

}

.reset-button:hover{
  background-color: rgba(9, 201, 219, 0.845);

}